@font-face {
  font-family: 'OpenSauceSans';
  src: url("../../../public/Assets/fonts/OpenSauceSans-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.p{
  font-family: 'Poppins';
  color: #1A1B25;
  font-weight: normal;
  text-align: left;

  }

  .container {
    padding: 20px;
    text-align: center;
  }
  
  .h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 1px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-right: 60rem;
  }

  .barista_name{
    color: #6C596E;
    font-weight: bolder;
  }

  .painting_size{
    color:black;
  }

  .painting_price{
    color: black;
  }
  
  .line {
    width: 100%;
    margin: 0 auto;
    border: 4px solid #333;
    width: 100%;
    margin-top: -1rem
  }
  
  .images_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
  }
  
  .grid_image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .grid_image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .modal_container{
    margin-top: -8.5rem;
    top: -370px;
    position: relative;
}

  .btn{
    display: block;
    margin: 0 auto;
    margin-left: 10rem;
}
  
.column1{
     margin-right: 50%;
}

.column2{
  margin-left: 50%;
  
}

  @media screen and (min-width: 500px) and (max-width: 768px) {
    .h1{
      font-family: 'Roboto', sans-serif;
      color: black;
      font-weight: bold;
      margin: 1px;
      padding: 1px;
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 40px;
      margin-left: -12rem;
    }

    .line{
      border: none;
      border-top: 4px solid #333;
      margin: 10px;
      width: 80%;
      margin-top: 0.1rem;
      margin-left: 2rem;
    }

    .images_grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
      gap: 20px; 
      padding: 20px; 
    }

      .modal_container{
        margin-top: -2rem;
        top: -370px;
        position: relative;
}

  @media screen and (min-width: 320px) and (max-width: 768px) {
    .modal_container{
        margin-top: 10rem;
        top: -370px;
        position: relative;
        }
  }
    }
   
  @media screen and (min-width: 769px) and (max-width: 1444px) { 
  .p{
    font-family: 'Poppins';
    color: #1A1B25;
    font-weight: normal;
    text-align: left;

    }

  .container {
    padding: 20px;
    text-align: center;
  }
  
  .h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 1px;
    padding: 20px;
    /* text-align: center; */
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-right: 55rem;
  }

  .barista_name{
    color: #6C596E;
    font-weight: bolder;
  }

  .painting_size{
    color:black;
  }

  .painting_price{
    color: black;
  }
  
  .line {
    width: 100%;
    margin: 0 auto;
    border: 4px solid #333;
    width: 100%;
    margin-top: -1rem
  }
  
  .images_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
  }
  
  .grid_image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .grid_image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .modal_container{
    margin-top: -8.5rem;
    top: -370px;
    position: relative;
}

  .btn{
    display: block;
    margin: 0 auto;
    margin-left: 10rem;
}
  
.column1{
     margin-right: 50%;
}

.column2{
  margin-left: 50%;
  
}
  }
    
    
    @media (min-width: 1025px) {
    
    
    }