.box {
  padding: 3% 2.5%;
  background: #111;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.column1,
.column2,
.column3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.column4 {
  text-align: center;
  margin-top: 3rem;
}

.listitems {
  color: white;
  text-decoration: none;
}

.listitems:hover {
  color: #F4b266;
}

.heading {
  color: #F4b266;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text {
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .box {
    padding: 5% 6%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
