/* Button.css */

.roundedButton {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    border:2px solid #6C596E;
    cursor: pointer;
    font-size: 10px;
    outline: none;
    position: relative;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;  
  }
  
  .roundedButton:after{
    content: "";
    background: #3F182C;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1.2s
  }
  
  .roundedButton:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .roundedButton:hover{
    background-color:#6E6B7D;
  }
  
  .text{
    font-family: sans-serif;
    text-wrap: nowrap;
    font-size: medium;
    color:#6C596E;
    margin: 1px;
    padding: 2px;
  }
  
  .text:hover{
    font-family: sans-serif;
    text-wrap: nowrap;
    font-size: medium;
    color:black;
    margin: 1px;
    padding: 2px;
  }
  
  
  